.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 23.9965px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  transition-duration: 1s;
  transition: opacity .1 linear;
  position: relative;
  margin-left: 18px;
}

.header__lang-link:after {
  content: "";
  height: 1px;
  background-color: #FFFFFF;
  display: none;
  position: absolute;
  transition: opacity .5 linear;
  top: 100%;
  left: 0;
  z-index: 1;
}

.header__lang-link:hover:after {
  opacity: .5;
  display: block;
}

.header__lang-link:hover {
  opacity: .5;
}

@media screen and (max-width: 320px) {
  .header__lang-link:after {
    font-size: 18px;
    line-height: 20px;
  }
}
