.header__lang-link-ru {
  font-style: normal;
  font-weight: normal;
  font-size: 23.9965px;
  line-height: 28px;
  color: #FFFFFF;
  margin-left: 18px;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link-ru {
    font-size: 18px;
    line-height: 20px;
  }
}
