.lead {
  display: grid;
  color: #FFFFFF;
  justify-items: center;
  margin-bottom: 95px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}
