.lead__title {
  font-size: 96px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  width: 720px;
  margin: 0 auto 32px;
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 auto 16px;
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}