.cover__title {  
  max-width: 560px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cover__title {  
    max-width: 230px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }  
}