.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 44px 24px;
    flex-wrap: wrap;
  }  
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 118px 16px 24px;
    flex-direction: column;
  } 
}